NODE_ENV=development
APP_VERSION=/api/v1
MAX_REQUEST_PER_MINUTE=500
PORT=3000

APP_NAME=Global-Voices

AT_SECRET=rpf7yw29-0dhbcu:oipt;shaombcyuwiiwuddbqn'
RT_SECRET=rpk3sn48-3snc8n:ccny;wtupxbcdqqeuezmsodp'
AT_EXPIRES_IN=1d
RT_EXPIRES_IN=500d

DATABASE=mongodb+srv://prod:<password>@dev.edqed.mongodb.net/<dbname>?retryWrites=true&w=majority
DATABASE_LOCAL=mongodb://127.0.0.1:27017/<dbname>
DATABASE_PASSWORD=crLE8n2q0rBaco9z
DATABASE_NAME=GlobalVoices
