@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: "Mallory";
    src: url("./assets/fonts/Mallory-Compact-Black.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Mallory";
    src: url("./assets/fonts/Mallory-Compact-Black.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}
html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: "IBM Plex Sans", serif;
    @apply text-sm;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}

img,
fieldset,
a img {
    border: none;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
textarea {
    -webkit-appearance: none;
}

input[type='submit'],
button {
    cursor: pointer;
}

input[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button {
    background: none;
}

textarea {
    overflow: auto;
}

input,
button {
    margin: 0;
    padding: 0;
    border: 0;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
a:focus {
    font-family: "IBM Plex Sans", serif;
    outline: none;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Mallory", serif;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: "IBM Plex Sans", serif;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body#app {
    height: 100%;
}
a {
    text-decoration: none;
}

svg,
img {
    vertical-align: middle;
}

.board{
    min-height: 100vh;
    background: oklch(98.4% 0.003 247.858);
}

.modal-mask {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    overflow: auto;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: flex;
    align-items: flex-start;
    z-index: 180;
}

.modal-body {
    padding: 0;
}

.modal-body .title {
    font-weight: 600;
    margin: 2rem 0 1rem;
}

.modal-body .description {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #6B6C6C;
}

.modal-container {
    width: 496px;
    margin: 7rem auto 50px;
    padding: 25px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

@media (max-width: 800px) {
    .modal-container {
        width: 96%;
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: 0;
}

.modal__title {
    font-size: 25px;
    font-weight: bold;
}

.modal__fieldset {
    margin-bottom: 20px;
}

.modal__fieldset > .modal__field:not(:last-child) {
    margin-bottom: 20px;
}

.modal-close {
    margin-left: auto;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000; /* replace $black with #000 */
    cursor: pointer;
}

.modal-close .icon {
    width: 100%;
    height: 100%;
}

.modal__row {
    display: flex;
    margin: 0 -8px;
}

.modal__row .modal__field {
    flex: 0 0 calc(50% - 16px);
    width: calc(50% - 16px);
    margin-left: 8px;
    margin-right: 8px;
}

.modal__field {
    margin: 0 0 20px;
}

.modal__label {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.33333;
    font-weight: 500;
    color: #808191;
}

.modal__label_mb32 {
    margin-bottom: 32px;
}

.modal__wrap {
    position: relative;
}

.modal__wrap input,
.modal__wrap select {
    height: 56px;
}

.modal__wrap textarea {
    padding: 20px;
}

.modal__input {
    width: 100%;
    padding: 0 20px;
    border-radius: 8px;
    background: rgba(228, 228, 228, 0.3);
    font-size: 14px;
    font-weight: 600;
    color: #11142D;
    transition: all 0.2s;
}

.modal__input:focus {
    box-shadow: inset 0 0 0 2px #355DFF;
    background: #ffffff;
}

.modal__btn {
    border-radius: 12px;
    font-size: 14px;
    height: 48px;
    padding: 0 24px;
}

.modal-footer {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

.modal-footer .modal__btn {
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.modal-footer .modal__btn .icon {
    margin-right: 5px;
}

.modal-footer .modal__btn .icon g [fill] {
    fill: #fff; /* replace $white with #fff */
}

.modal-footer .modal__btn:last-child {
    margin-left: 20px;
}

.delete-modal {
    width: 496px;
}

@media (max-width: 400px) {
    .delete-modal {
        width: 96%;
    }
}

.delete-modal .modal__fieldset p {
    line-height: 1.5;
}

.delete-modal .modal__img {
    width: 35%;
    margin: 0 auto;
}

.delete-modal .modal-footer {
    justify-content: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
